<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="middle">
          
          <h1>Secret Agent V</h1>
  
          <p>Enter your <strong>TOP SECRET</strong> message here:</p>
        
          <div>
            <textarea name="" id="txt" cols="30" rows="10"></textarea>    
          </div>
      
          <button id="decodeBtn" class="btn btn-primary btn-block">DECODE</button>
      
      </div>
      <hr />
<div class="middle">
  <h1>Secret Agent J</h1>
  <p>Enter your <strong>TOP SECRET</strong> message here:</p>
  <div>
    <textarea name="" id="txt2" cols="30" rows="10"></textarea>    
  </div>
  <button id="encodeBtn" class="btn btn-danger btn-block">ENCODE</button>
</div>


  <script src="/javascripts/main.js"></script>
  </body>
</html>
